{% extends "default/module.html.jinja2" %}

{% block favicon %}
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/lausek/remarkov/gh-pages/public/favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/lausek/remarkov/gh-pages/public/favicon.ico" />
{% endblock %}

{% block nav_title %}
    <img src="https://raw.githubusercontent.com/lausek/remarkov/gh-pages/public/logo192.png" class="logo" alt="project logo"/>
{% endblock %}

{# redeclare this block as we do not use the module index #}
{% block module_list_link %}
    {% set parentmodule = ".".join(module.modulename.split(".")[:-1]) %}
    {% if parentmodule and parentmodule in all_modules %}
        <a class="pdoc-button module-list-button" href="../{{ parentmodule.split(".")[-1] }}.html">
            {% include "box-arrow-in-left.svg" %}
            &nbsp;
            {{- parentmodule -}}
        </a>
    {% endif %}
{% endblock %}

<style>

    {% block style_theme %}
        /* use dark mode by default */
        :root {
            --pdoc-background: #212529;

            --text: #f7f7f7;
            --muted: #9d9d9d;
            --link: var(--accent2);
            --link-hover: red;
            --code: #333;
            --active: #555;

            --accent: #343434;
            --accent2: #f91f1f;

            --nav-hover: rgba(0, 0, 0, 0.1);
            --name: var(--text);
            --def: orange;
            --annotation: #00c037;
        }
    {% endblock %}

</style>

{% block body %}
    {{ super() }}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        /* if the user decided to use the light theme -> change back */

        const theme = localStorage.getItem("theme");
        if(theme === "light") {
            const style = document.createElement("style");

            style.innerHTML = `
            :root {
                --pdoc-background: white;

                --text: #222;
                --muted: #9d9d9d;
                --link: var(--accent2);
                --link-hover: red;
                --code: var(--accent);
                --active: #555;

                --accent: #EEE;
                --accent2: #f91f1f;
            }
            `;

            document.head.appendChild(style);
        }
    });
    </script>
{% endblock %}